/* Theme colors */
:root {
	--running-bg: #C9F7FF;
	--paused-bg: #DEEBED;
	--text: #2C3E50;
	--hover-icon-bg: lightgray;
	--icon-bg: #F7F7F7;
	--button-bg: #A7E1F3;
	--button-border: #1189AF;
	--ghost-bg: transparent;
	--button-hover: #77CFEB;
	--overdue-bg: #FFE1E9;
	--body-bg: #F3F3F3;
}

[data-theme="dark"] {
	--running-bg: #2c3e50;
	--paused-bg: #4E4E4E;
	--text: #C9F7FF;
	--hover-icon-bg: #3A3A3A;
	--icon-bg: #141414;
	--button-bg: #1189AF;
	--button-border: #A7E1F3;
	--ghost-bg: transparent;
	--button-hover: #77CFEB;
	--overdue-bg: #A02E4E;
	--body-bg: #141414;
}

[data-theme="forest"] {
	--running-bg: #358F35;
	--paused-bg: #5F7C5F;
	--text: #B6E7B6;
	--hover-icon-bg: #8EA78E;
	--icon-bg: #A7C3A7;
	--button-bg: #6DB86D;
	--button-border: #6DB86D;
	--ghost-bg: transparent;
	--button-hover: #26D126;
	--overdue-bg: #779210;
	--body-bg: #064806;
}

[data-theme="orange"] {
	/* --running-bg: #835e1b; */
	--running-bg: #e5af4a;
	--paused-bg: #DED0B7;
	--text: #422E09;
	--hover-icon-bg: #C9C3B9;
	--icon-bg: #F7F7F7;
	--button-bg: #D6961E;
	--button-border: #D6961E;
	--ghost-bg: transparent;
	--button-hover: #F6C05C;
	--overdue-bg: #EC9262;
	--body-bg: #E1B972;
}

/* General styles */
body {
	margin: 0em;
	padding: 1em;
	background-color: var(--body-bg);
}
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin: 0px;
	padding: 0em;
}
button {
	margin: 0.3em;
	padding: 0.7em 3.5em;
	font-size: 1em;
	border-radius: 0.4em;
	background-color: #A7E1F3;
	border-color: #1189AF;
	transition: all 0.6s;
}
button.ghost {
	background-color: white;
}
button:hover {
	background-color: #77CFEB;
	cursor: pointer;
	/* border-color: #1189AF */
}


/* Widget styles */
.running {
	background-color: var(--running-bg);
}
.paused {
	background-color: var(--paused-bg);
}
.overdue {
	background-color: var(--overdue-bg);
}
